@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --width: min(100vw, 42rem);
  --full-width: 100vw;

  --angle: -4deg;
  --abs-angle: max(var(--angle), var(--angle) * -1);
  --tan-alpha: tan(var(--abs-angle));
  --skew-padding: calc(var(--width) * var(--tan-alpha) / 2);
  --clip-padding: calc(var(--full-width) * var(--tan-alpha) / 2);

  --background-color: rgb(248, 254, 255);
}

.inknut-antiqua-light {
  font-family: "Inknut Antiqua", serif;
  font-weight: 300;
  font-style: normal;
}

.inknut-antiqua-regular {
  font-family: "Inknut Antiqua", serif;
  font-weight: 400;
  font-style: normal;
}

.inknut-antiqua-medium {
  font-family: "Inknut Antiqua", serif;
  font-weight: 500;
  font-style: normal;
}

.inknut-antiqua-semibold {
  font-family: "Inknut Antiqua", serif;
  font-weight: 600;
  font-style: normal;
}

.inknut-antiqua-bold {
  font-family: "Inknut Antiqua", serif;
  font-weight: 700;
  font-style: normal;
}

.inknut-antiqua-extrabold {
  font-family: "Inknut Antiqua", serif;
  font-weight: 800;
  font-style: normal;
}

.inknut-antiqua-black {
  font-family: "Inknut Antiqua", serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #191919;
  line-height: 1.5rem;
  margin: 0;
  padding: 0;
  background-color: rgb(246, 251, 255);
}

h1,
h2,
h4,
h5,
h6 {
  font-family: "Inknut Antiqua", serif;
  font-weight: 800;
  letter-spacing: -2px;
}

h3 {
  font-family: "Inknut Antiqua", serif;
  font-weight: 600;
  letter-spacing: -1px;
}

.sketch-underline {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.sketch-underline::after {
  content: "";
  width: 120%;
  height: 23px;
  background-image: url(./assets/underline.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -20px;
  left: -10px;
  z-index: -1;
}

.header {
  position: relative;
  padding: var(--skew-padding) 0;
  margin-top: -1px;
}

.header::before {
  content: "";
  position: absolute;
  height: 25rem;
  top: -6rem;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(
    to right top,
    #d1b76b,
    #eea677,
    #f89895,
    #ed95b9,
    #cc9bd7,
    #b1a7eb,
    #8fb4f6,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  transform: skewY(var(--angle));
  transform-origin: 50% 0;
  z-index: 0;
}

.header-content {
  position: relative;
  padding: 2rem;
  max-width: 50em;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.hero-img {
  width: 34vw;
  max-width: 300px;
  position: relative;
  border-radius: 10px;
  border: 10px solid var(--background-color);
  rotate: -2deg;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.header-about-container {
  background-color: var(--background-color);
  border-radius: 10px;
  padding: 1rem 2.5rem;
  height: 80%;
  overflow: auto;
  position: relative;
  top: 10px;
  left: -20px;
  z-index: 0;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.header-about-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 6px;
}

.header-about-links img,
.project-links img {
  width: 25px;
}

.header-about-links img:hover,
.project-links img:hover {
  cursor: pointer;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgb(246, 251, 255);
}

.my-work-container {
  margin-top: 2rem;
  width: 75%;
  display: grid;
  justify-content: center;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(330px, 350px));
}

.project-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--background-color);
  padding: 1rem;
  padding-bottom: 3rem;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  transition: scale 400ms ease-out;
}

.project-container:hover {
  cursor: pointer;
  scale: 1.07;
}

.project-image {
  width: 300px;
  height: 150px;
  overflow: hidden;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top left;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-links {
  display: flex;
  gap: 6px;
}

.project-description {
  max-width: 300px;
}

footer {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 8rem;
  width: 100%;
  bottom: 0;
  background-image: linear-gradient(to right, #d1b76b, #5ffbf1);
  box-shadow: rgba(17, 12, 46, 0.15) 0px -18px 100px 0px;
  padding: 6rem 0rem;
}

.contact-container {
  display: flex;
  gap: 10px;
}

.icon {
  width: 20px;
}

.footer-container {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 30px;
}

.footer-img {
  width: 100%;
  max-width: 800px;
}
.social-icons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.social-icons img {
  width: 30px;
}

.footer-img img {
  width: 100%;
  border: 10px solid var(--background-color);
  border-radius: 30px;
  rotate: 2deg;
  box-shadow: rgba(0, 0, 0, 0.374) 0px 3px 12px;
}

/* Media Query for mobile */
@media (max-width: 800px) {
  .header::before {
    content: "";
    position: absolute;
    height: 29rem;
    top: -3rem;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(
      to right top,
      #d1b76b,
      #eea677,
      #f89895,
      #ed95b9,
      #cc9bd7,
      #b1a7eb,
      #8fb4f6,
      #69bff8,
      #52cffe,
      #41dfff,
      #46eefa,
      #5ffbf1
    );
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    transform: skewY(var(--angle));
    transform-origin: 50% 0;
    z-index: 0;
  }

  .header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-img {
    rotate: 0deg;
  }

  .header-about-container {
    background-color: var(--background-color);
    border-radius: 10px;
    position: relative;
    top: -30px;
    left: 0px;
    z-index: 0;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  }
}

@media (min-width: 1600px) {
  .my-work-container {
    width: 50%;
    grid-template-columns: repeat(3, 1fr);
  }
}
